@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --title: #fffcf9;
    --subtitle: #b3b3b3;
    --bg-button: #e9e6e3;
    --background: linear-gradient(43deg, #102d71 0%, #000000 52%, #c12a23 100%);
  }

body {
    background: var(--background);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    color: white;
    font-family: 'Poppins', sans-serif;
}

.top {
    align-items: center;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 3%;
}

.top img {
    width: 5em;
}

.top h1 {
    color: var(--title);
    font-size: 3em;
}

.filme {
    display: flex;
}

.filme .capa {
    padding-left: 15%;
} 

.filme .capa img {
    width: 13em;
}

.filme .descricao {
    padding-top: 2%;
    padding-right: 5%;
    padding-left: 5%;
}
.filme .descricao h2 {
    padding-bottom: 5%;
}

.pesquisa {
    padding-top: 3%;
    text-align: center;
}

.pesquisa button{
    background: var(--bg-button);
    margin: auto;
    width: 15em;
    height: 3em;
    font-size: 1em;
    margin-bottom: 2%;
    padding: 0 2%;
    font-weight: bolder;
    display: flex;
    align-items: center;
}

.pesquisa button img {
   margin: 3%;
}

button:hover{
    background: #3d3c3c;
    cursor: pointer;
    color: var(--title);
}

.carregando {
    visibility: hidden;
    top: 20%;
    left: 38%;
    position: absolute;
    width: 20em;
    height: 10em;
}

.carregado {
    visibility: visible;
}






